<div style="margin-left: 20%; margin-right: 20%; margin-bottom: 5%;">
    <img style="width: 80px; float: left; position: absolute;" src="https://www.kamk.fi/layouts/KAMK_2018/images/kamk-logo.png" />
    <h1 style="width: 100%; text-align: center;">Joystick</h1>
    <br><br><br>
    <h2>Documentation</h2>

    <p>This server works with UDP messages. A connected joystick sends <code>d,id,x,y</code> to CONFIGUREIP:30030. The backend server processes the request and forwards it to the
        frontend server. This server provides several websites at <a href="CONFIGUREIP:8080" target="_blank">CONFIGUREIP:8080</a>, one of them being <a
            href="CONFIGUREIP:8080/joystick/live-view" target="_blank">CONFIGUREIP:8080/joystick/live-view</a>. There, one controllable dot should appear for each joystick.</p>

    <br>
    <h2>Installation Instructions</h2>
    <p>The source code is available at <a href="https://gitlab.com/zehetner-kamk/joystick" target="_blank">gitlab.com/zehetner-kamk/joystick</a>.

        Download it and run <code>./configureAndStart.sh</code>. This installs all the needed packages automatically.
        Make sure that ports 30030-30039 are free and open for UDP and TCP traffic.
    </p>

    <h3>Detailed Instructions for cPouta</h3>
    <ul>
        <li>Go to Network > Security Groups. Create a new group that allows in- and outbound UDP and TCP traffic on ports 30030-30039 as well as just TCP traffic on port 8080 and
            just inbound TCP traffic on port 22.</li>
        <li>Go to Compute > Key Pairs. Create a new key pair and download the .pem file.</li>
        <li>Go to Compute > Instances. Create a new instance with the following parameters:
            <ul>
                <li>Variant: Tiny (everything else is overkill)</li>
                <li>Boot Source: Image > smallest Ubuntu version available</li>
                <li>Key Pair: Your newly generated key pair</li>
                <li>Security Group: Your newly generated security group</li>
            </ul>
        </li>
        <li>Go Compute > Instances. Click on Actions > Assign Floating IP for your newly generated instance. Add an IP address.</li>
        <li>Go to the location of the downloaded public key (.pem file). Run <code>ssh ubuntu@<i>server-ip</i> -i serverkey.pem</code>. If the connection refuses, you may have to
            create another security group that allows outgoing traffic on all ports and all protocols and add that to the instance.</li>
        <li>Run <code>git clone https://gitlab.com/zehetner-kamk/joystick.git && cd joystick</code>.</li>
        <li>Run <code>./configureAndStart.sh</code> to start the server. This installs all the needed packages automatically and only needs to be executed once.</li>
        <li>If you want to restart the server, run <code>./startServer.sh</code> instead.</li>
    </ul>


    <br>
    <div style="font-size: small; text-align: center;">
        <img style="height: 10px; display: inline;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8b/Copyleft.svg/1024px-Copyleft.svg.png" />
        <p style="display: inline"> Clemens Zehetner 2021</p>
    </div>
</div>